<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content">

  <div class="register-wrapper">

    <div class="register-card">

      <div class="register-heading">

        <h1>
          Create your account
        </h1>

        <p>
          Start tracking your spending securely.
        </p>

      </div>

      <form
        #registerForm="ngForm"
        (ngSubmit)="register()"
      >

        <ion-item class="form-item">

          <ion-label position="stacked">
            Name
          </ion-label>

          <ion-input
            type="text"
            name="name"
            [(ngModel)]="name"
            placeholder="Your name"
            autocomplete="name"
            required
            minlength="2"
            maxlength="100"
            [disabled]="loading"
          >
          </ion-input>

        </ion-item>


        <ion-item class="form-item">

          <ion-label position="stacked">
            Email
          </ion-label>

          <ion-input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="you@example.com"
            autocomplete="email"
            inputmode="email"
            required
            maxlength="255"
            [disabled]="loading"
          >
          </ion-input>

        </ion-item>


        <ion-item class="form-item">

          <ion-label position="stacked">
            Password
          </ion-label>

          <ion-input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Minimum 12 characters"
            autocomplete="new-password"
            required
            minlength="12"
            maxlength="64"
            [disabled]="loading"
          >
          </ion-input>

        </ion-item>


        <ion-item class="form-item">

          <ion-label position="stacked">
            Confirm Password
          </ion-label>

          <ion-input
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            placeholder="Enter password again"
            autocomplete="new-password"
            required
            [disabled]="loading"
          >
          </ion-input>

        </ion-item>


        <div
          *ngIf="errorMessage"
          class="error-message"
          role="alert"
        >
          {{ errorMessage }}
        </div>


        <ion-button
          type="submit"
          expand="block"
          class="register-button"
          [disabled]="loading || registerForm.invalid"
        >

          <ion-spinner
            *ngIf="loading"
            name="crescent"
          >
          </ion-spinner>

          <span *ngIf="!loading">
            Create Account
          </span>

        </ion-button>


        <div class="login-link">

          <span>
            Already have an account?
          </span>

          <a routerLink="/login">
            Sign in
          </a>

        </div>

      </form>

    </div>

  </div>

</ion-content>
